# Core dependencies
flask==3.1.*
functions-framework==3.9.*
google-cloud-firestore==2.21.*
google-auth>=2.0.0
google-auth-oauthlib>=0.4.0
google-auth-httplib2==0.2.*
google-api-python-client>=2.0.0
pyjwt==2.10.*
requests==2.32.*
python-dateutil==2.9.*
fastapi==0.118.*
pydantic==2.12.0
starlette==0.48.0
python-multipart==0.0.20
python-dotenv>=0.19.0

# Caching
redis==6.4.*

# Monitoring
opencensus-ext-stackdriver==0.8.0
opencensus==0.11.4

# Server
uvicorn==0.37.*
